<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="nav-container">
    <% if user_signed_in? %>
      <div id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <%= image_tag "menu.png", class: "avatar ", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-toggle div-dropdown">
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to image_tag("perfil.png") + " Minha Conta", my_account_path(current_user), class: "dropdown-item" %>
                <%= link_to image_tag("grid.png") + " Meus produtos", user_products_path(current_user), class: "dropdown-item" %>
                <%= link_to image_tag("anunciar.png") + " Anunciar", my_products_user_path(current_user), class: "dropdown-item" %>
                <%= link_to image_tag("contato.png") + "  Contato", contact_new_path, class: "dropdown-item" %>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <%= link_to root_path do %>
        <%= image_tag "logo.png", class: "logo-img" %>
      <% end %>
      <div class="nav-item position-relative">
        <%= link_to carts_path, class: "nav-link" do %>
          <%= image_tag "cart.png" %>
          <% if @current_cart && @current_cart.total_items.positive? %>
            <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
              <%= @current_cart.total_items %>
            </span>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="d-flex justify-content-center w-100">
        <%= link_to root_path do %>
          <%= image_tag "logo.png", class: "logo-img" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
